{% extends "base.html.twig" %}

{% block content %}

    <form id="gitlab" action="{{ path('home') }}" method="POST">
        <div>
            <label>
                <input type="text" name="gitlabPath" placeholder="https://gitlab.yoursite.ch/api/v3" value="{{ gitlabPath }}" />
                Gitlab Path <br />
                <i><small>URL to API, format "https://gitlab.yoursite.ch/api/v3"</small></i>
            </label>
        </div>

        <div>
            <label>
                <input type="text" name="privateToken" value="" />
                Private token <br />
                <i><small>Found under <a href="https://gitlab.yoursite.ch/profile/account">gitlab.yoursite.ch/profile/account</a></small></i>
            </label>
        </div>

        <div>
            <input type="submit" value="submit" class="submit" />
        </div>
    </form>

{% endblock %}