<h2>#{{ issue.id }} @ {{issue.milestone.title}}</h2>
<p><b>({{ issue.labels|join(', ') }})</b></p>
<p>{% if issue.closed is sameas(true) %}[CLOSED]{% else %}[OPEN]{% endif %} {{ issue.titleSliced|raw }}</p>